{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>На нашем новостном сайте мы делаем акцент не только на скорости доставки новостей,
            но и на их глубине и многоаспектности. Мы понимаем, что каждое событие имеет не только причину и следствие,
            но и контекст, который необходимо осветить, чтобы читатель мог понять и проанализировать информацию в полной мере.</p>
        <button class="btn btn-danger"> Просто жми все равно ничего не произойдет</button>
    </div>
{% endblock
{% endblock %}

